#mockup-container {
	.make-row();



	.left-pane {
		.make-sm-column(5);
		.make-md-column(4);
		padding-left:  0;
		padding-right: 0;

		/* Small devices (tablets, 768px and up) */
		@media (min-width: @screen-sm-min) {
			padding-left:  15px;
			padding-right: 15px;	
		}

		.budget-block {
			.panel;
			.panel-body;

			position:      relative;
			margin-bottom: 0;

			dl {
				margin-bottom: 0;
			}

			.header {
				.clearfix;

				td:first-of-type {
					width:          100%;
					max-width:      1px;
					white-space:    nowrap;
					overflow-x:     hidden;
					overflow-y:     visible;
					text-overflow:  ellipsis;
					vertical-align: bottom;
					padding-right:  1em;
				}

				.name {
					.h4;
					line-height:    inherit;
					text-transform: uppercase;
					font-weight:    bold;
				}

				.property-container {
					height: 2em;

					.property {
						.label;
						.label-warning;
					}
				}				

				a.balance {
					.btn;
					.btn-default;					
					position:        relative;
					text-decoration: none;

					.graph {
						content:             "";
						height:              100%;
						width:               80%; // To adjust the graph, just adjust the width of this!
						border:              1px solid fade(@brand-info, 50%);						
						border-top:          none;
						border-bottom-width: 4px;
						box-sizing:          content-box;
						position:            absolute;
						top:                 0;
						left:                -1px;						
						background-color:    fade(@brand-info, 50%);
						border-radius:       inherit;

						.transition(width 0.5s ease-out);
					}

					&:hover .graph {
						border-bottom-width: 3px;
					}
					&:active .graph {
						border-bottom-width: 2px;
					}

					span {
						z-index:     1;
						position:    relative;
						.subtle-textshadow();
						color:       white;
						font-size:   @font-size-large;
						font-weight: normal;
					}
				}
			}

			.meta {
				
				.well;
				background-color: @brand-info;
				color: @color-mediumgrey;
				position: relative;
				z-index: 1;
				margin-top: -28px;
				margin-bottom: 5px;				

				.budget-limit {
					.well;
					background-color: @brand-info;
					text-decoration: none;

					padding:6px 14px 19px;
					.border-bottom-radius(0);
					border-bottom: none;

					z-index:     1;
					position:    absolute;
					.subtle-textshadow();
					color:       white;
					font-size:   @font-size-large;
					font-weight: normal;
					border-left: none;

					right: -1px;
					top: -23px;
				}

				table {
					.table;
					.h4;
					color: white;
					margin-top: 0;
					position: relative;
					z-index: 1;
					
					tr:nth-of-type(3n) {
						td {
							border-bottom: 1px solid @color-mediumgrey;
							padding-bottom: 10px;
						}
						// td:first-of-type {
						// 	text-align: left;
						// }
					}
					tr:nth-of-type(3n+1) {
						td {
							padding-top: 10px;
						}
					}
					tr:first-of-type {
						td {
							padding-top: 0;
						}
					}
					td {
						text-align: right;
					}
					.bank-name {
						text-align: left;
					}
					.bank-starting {
						color: @color-lightgrey;
					}
					.math {
						width: 100%;
						// padding-right: 1em;
					}
					.transaction-total {
						border-bottom: 1px solid @color-mediumgrey;
					}
					.balance {
						padding-top: 5px;
					}

					tr:last-of-type {
						.subtle-textshadow();

						td {
							text-transform: uppercase;
							font-weight: bold;
						}
						td:first-of-type {							
							text-align: left;
						}
					}
				}

				.add-transaction-btn {
					.btn;
					.btn-link;
					.btn-xs;
					float: left;
				}
				.add-transaction {
					float:left;
					font-size: @font-size-small;
					color: @color-aqua;
				}
			}

			.footer {

				min-height: 20px;				

				.edit-btn {
					color:        @color-lightgrey;
					position:     absolute;
					right:        0;
					bottom:       0;
					width:        40px;
					height:       40px;
					padding-top:  10px;
					padding-left: 10px;

					.transition(color 0.2s ease);
				}
				.edit-btn:hover {
					color: @color-mediumgrey;
				}				
			}
		}
	}
}