// Bootstrap base
@import '../scripts/vendor/bootstrap/less/bootstrap';

// Bootstrap theme
@import 'themes/lumen/variables';
@import 'themes/lumen/bootswatch';

// Custom Colors
@import 'custom_colors';

// Custom mixins
@import 'custom_mixins';

// Views
@import 'mockup';

// CUSTOM GLOBALS ----------------------------------------//START//
	
	// Brand colors
	@brand-primary: @color-aqua;
	@brand-success: @color-grass;
	@brand-info:    @color-mint;
	@brand-warning: @color-sunflower;
	@brand-danger:  @color-grapefruit;

// CUSTOM GLOBALS ------------------------------------------//END//


// CUSTOM GLOBAL CLASSES ---------------------------------//START//

	// Income & Expense
	.income {
		color: @brand-success;
	}
	.expense {
		color: @brand-danger;
	}

// CUSTOM GLOBAL CLASSES -----------------------------------//END//


/*
	The main container
 */
#main {
	.container-fixed();
}